source https://api.nuget.org/v3/index.json
framework: auto-detect

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.Hopac

nuget Fable.SimpleHttp
nuget Farmer
nuget Feliz.Markdown
nuget Feliz.Router
nuget FSharp.Core

nuget Fake.Core.Target

nuget Fable.Browser.DOM
nuget Fable.Core
nuget Fable.Fetch
nuget Fable.Elmish = 3.1
nuget Fable.Elmish.React = 3.0.1
nuget Fable.Elmish.Debugger = 3.3
nuget Fable.Elmish.HMR = 5.2
nuget Fable.Elmish.Browser = 3.0.5
nuget Fable.Mocha
nuget Fable.React
nuget Fable.Remoting.Giraffe
nuget Fable.Remoting.Client

nuget Feliz
nuget Feliz.MaterialUI
nuget Feliz.UseElmish
nuget Fable.MaterialUI.Icons
nuget Fable.MaterialUI.MaterialDesignIcons

nuget Saturn

nuget Informedica.GenOrder.Lib = 1.0
nuget Microsoft.AspNetCore.Authentication.JwtBearer = 6.0.13